/* Users administration */

.users-list {
    text-align: center;
}

.users-list td:not(.edit-user-column) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.enabled-user-column img {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    margin: auto;
}

/* Training list */

.training-list {
    max-width: 1300px;
    min-width: 1000px;
    text-align: center;
}

.training-status {
    font-weight: bold;
}

.training-status.green {
    color: #00bb2b;
}

.training-status.blue {
    color: #0095ff;
}

.training-status.yellow {
    color: #f5b400;
}

.training-status.grey {
    color: #8a8a8a;
}

.training-status.red {
    color: #e80000;
}