/* Main */

main {
    max-width: 1300px;
    margin: 0 auto 0 auto;
}

.main-title {
    color: #009de0;
    max-width: 800px;
}

.time-bar {
    max-width: 800px;
    height: 60px;
    border: 2px solid #009de0;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.time-bar > label {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #009de0;
    font-size: 19px;
    font-weight: bold;
}

.time-bar-fixed {
    position: absolute;
    width: 37%;
    height: 100%;
    background-color: #e5e5e5;
    border-right: 1px solid #009de0;
}

.time-bar-fixed > label {
    position: absolute;
    right: -40px;
    top: 15px;
    color: #009de0;
    font-size: 19px;
    font-weight: bold;
}

.time-bar-progress {
    position: absolute;
    height: 100%;
    background-color: #009de0;
    transition: width .5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-bar-progress > label {
    color: white;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 0;
}

.main-info {
    font-size: 19px;
    color: #858686;
}

.block-image {
    width: 80%;
    margin-right: auto;
}

.block-image img {
    height: 100%;
    width: 100%;
}

.block-container {
    padding: 40px 30px 40px 20px;
    max-width: 500px;
    min-height: 200px;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 600px) {
    .block-image img {
        height: auto;
    }

    .block-container {
        min-height: 0;
    }
}

.block-checker {
    width: 20%;
    cursor: pointer;
    position: relative;
}

.block-checker input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.block-checker .checkmark {
    position: absolute;
    top: -15px;
    left: 18px;
    border: 1px #009de0 solid;
    width: 35px;
    height: 35px;
    border-radius: 30px;
}

.block-checker input:checked ~ .checkmark {
    background-color: #2196F3;
}

.block-column.white .block-container {
    background-color: #fbfbfb;
}

.block-column.gray .block-container {
    background-color: #f4f4f4;
}

.block-send {
    background-color: #009de0;
    border-radius: 32px;
    padding: 10px 40px 10px 40px;
    color: white;
    font-size: 27px;
    border: none;
}

.cancel-training {
    background-color: #e02a2a;
}

/* Footer */
footer {
    padding: 60px 0 60px 0;
    margin-top: 60px;
}

.footer-content > div {
    text-align: center;
}

.footer-content > div:nth-of-type(1) {
    font-size: 30px;
    color: white;
}

.footer-content > div:nth-of-type(2) {
    font-size: 23px;
    color: white;
}

.footer-content > div:nth-of-type(3) {
    font-size: 30px;
    color: white;
}

/* Steps bar */

.steps-bar {
    max-width: 800px;
    min-width: 700px;
}

.step {
    width: 50px;
    height: 50px;
    padding: 10px;
    border: #009de0 solid 1px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.step.active {
    background-color: #009de0;
}

.step span {
    color: black;
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
}

.steps-bar a {
    text-decoration: none;
}

.step.active span {
    color: white;
}

.step-state {
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 15px;
    top: -9px;
    right: -9px;
    border: 3px solid;
    background-color: white;
    border-color: grey;
    background-image: url("/knauf/public/assets/icon/incompleted.svg");
    background-size: 54%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.step-state.completed {
    border-color: green;
    background-image: url("/knauf/public/assets/icon/ok.svg");
    background-size: 86%;
    background-repeat: no-repeat;
    background-position: 51% 61%;
}

.step-state.waiting {
    border-color: #ffc82e;
    background-image: url("/knauf/public/assets/icon/wait.svg");
}

.training-date {
    border: 1px solid #009DE0 !important;
    box-sizing: border-box;
    border-radius: 50px !important;
    padding: 12px;
    font-size: 23px;
    font-weight: bold;
}

.step-info {
    width: auto;
    position: absolute;
    top: 55px;
    color: #333333;
    text-align: center;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 0.3px;
}

.step-info:hover {
    color: #737373;
}

.training-date:focus-visible {
    box-shadow: 0 0 0 1px #009de0;
    outline: none;
}

/* Studio data */
.studio-data-form {
    max-width: 800px;
    margin: 0 auto 0 auto;
}

/* Competitors list */

.competitors-list {
    width: fit-content;
    width: -moz-fit-content;
}

.add-competitor {
    color: #009de0;
    font-size: 17px;
    font-weight: bold;
    border: 2px solid #009de0;
    padding: 5px 10px 5px 10px;
    border-radius: 23px;
    width: fit-content;
}

.add-competitor:hover {
    color: #009de0;
    text-decoration: none;
}

.popup-edit-competitor {
    position: fixed;
    z-index: 100;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: #dcdcdcd1;
    border-radius: 25px;
    display: none;

}

.popup-edit-competitor input[type=text] {
    padding: 5px 10px 5px 10px;
    width: 250px;
    border: 1px solid #009DE0 !important;
    box-sizing: border-box;
    border-radius: 50px;
    margin-bottom: 10px;
}

.popup-edit-competitor input[type=submit] {
    background-color: #009de0;
    border-radius: 32px;
    padding: 5px 10px 5px 10px;
    color: white;
    font-size: 19px;
    font-weight: bold;
    border: none;
    width: 100%;
}

.popup-edit-competitor input[type=text]:focus-visible {
    outline: none;
}

.close-popup-edit-competitor {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 25px;
    height: 25px;
}

.title-popup-edit-competitor {
    color: #009de0;
    font-size: 23px;
    text-align: center;
}


