<b>
Estimad@ {{ name }}
</b>

<br><br>
¡Ya casi estamos!<br><br>

Vamos a iniciar los trámites para la gestión de la formación Knauf&Breakfast a través de la
plataforma.<br><br>

Estos son los pasos a seguir para ello:<br><br>

Accede a tu perfil con las credenciales que se te proporcionan en el email que acabamos
de enviar. Puede que tarde unos minutos en aparecer en el buzón. Si pasado este tiempo
sigues sin recibirlo, ponte en contacto directamente con nosotros.<br><br>

Completa correctamente los cuatro pasos de la gestión:<br>

<ol>
    <li>Confirma los datos del estudio entregados en el inicio. En esta dirección se
entregará el material que acompaña a la formación.</li>
    <li>Selecciona los bloques formativos a impartir. Puedes ayudarte de la barra de
tiempo para estimar la duración que tendrá la formación:<br>
        <img src="{{ absolute_url(asset('assets/img/info-training.JPG')) }}"/>
    </li>
    <li>Selecciona una fecha. La formación puede impartirse de Martes a Viernes en
horario de 9.00 a 13.00h. La fecha seleccionada queda automáticamente guardada
en el sistema y será confirmada vía email en un máximo de dos días laborables
desde la solicitud.</li>
    <li>    Dinos quién asistirá y si tiene alguna intolerancia alimentaria. Esto nos ayudará a
determinar la cantidad de material necesario para ese día y adecuar los desayunos
que acompañan a la formación.</li>
</ol><br><br>

Por último, guarda o entrega la solicitud. Si has terminado la gestión, pincha “Entregar” y
cierra la petición. Recibirás un correo de confirmación con todos los detalles de la
formación. Si has dejado algún paso de los anteriores sin completar, o quieres seguir
añadiendo participantes más adelante, pincha “Guardar”. Podrás seguir accediendo a la
plataforma hasta 10 días antes de la fecha propuesta. Por favor, recuerda que si no se
cierra el trámite a través de la opción “Entregar” antes de esta fecha, será necesario volver
a fijar una nueva fecha.<br><br>

Si en algún momento tienes dudas, o necesitas soporte en el proceso, no dudes en ponerte
en contacto con nosotros directamente a través de la dirección
knaufandbreakfast@knauf.com

<br><br>
¡Muchas gracias por el interés depositado en estas jornadas Knauf!

<br><br><br>
<b>
Atentamente,<br>
El equipo de prescripción Knauf.
</b>